BugHoleGraphicsEngine/.idea/compiler.xml
BugHoleGraphicsEngine/.idea/encodings.xml
BugHoleGraphicsEngine/.idea/modules.xml
BugHoleGraphicsEngine/.idea/runConfigurations.xml
BugHoleGraphicsEngine/gradle/wrapper/gradle-wrapper.properties
BugHoleGraphicsEngine/.idea/encodings.xml
BugHoleGraphicsEngine/.idea/gradle.xml
BugHoleGraphicsEngine/.idea/misc.xml
BugHoleGraphicsEngine/.idea/vcs.xml
BugHoleGraphicsEngine/projectFilesBackup/.idea/workspace.xml
*.gradle
*.iml
*.class
BugHoleGraphicsEngine/app/app.iml
BugHoleGraphicsEngine/build.gradle
BugHoleGraphicsEngine/app/build.gradle
